@import url("./reset.css");

:root {
  --primary-bg-color: #650d08;
}

html {
  background-color: #000000;
  opacity: 1;
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "logic-monospace", mono;
  font-weight: 500;
  font-style: normal;
  padding: 0 16px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
}

.button:hover {
  background: var(--primary-bg-color);
}
.is-rest .button:hover {
  background: #182d6c;
}

.button svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button--inactive {
  opacity: .5;
}

.button--toggle,
.button--reset,
.button--replay {
  width: 90px;
  height: 90px;
  background: transparent;
  border-radius: 50%;
  
}
.button--toggle span,
.button--reset span,
.button--replay span {
  height: 0;
  line-height: 28px;
  opacity: 0;
  overflow: hidden;
  transition: height 80ms ease-in-out, opacity 200ms ease-in-out;
  
}
.button--toggle:hover span,
.button--reset:hover span,
.button--replay:hover span {
  height: 28px;
  opacity: 1;
  line-height: 28px;
}

.button--toggle {
  background: var(--primary-bg-color);
}
.button--toggle:hover {
  background: #470703;
}
.is-rest .button--toggle {
  background-color: #182d6c;
}
.is-rest .button--toggle:hover {
  background-color: #081d5d;
}

.button--inactive {
  opacity: .6;
}

.button.button--refresh {
  padding: 12px 12px;
  align-self: flex-start;
  margin: 8px auto;
  border: none;
}
.button.button--refresh svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button.button--expand {
  padding: 12px 12px;
  border: none;
}
.button.button--expand svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button--full-screen {
  width: 48px;
  height: 48px;
}