@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;1,200;1,300;1,500;1,600&display=swap");
@import url("./reset.css");

html {
  background: radial-gradient(#650d08 10%, transparent 10%),
    linear-gradient(
      45deg,
      transparent 49.5%,
      #650d08 49.5% 50.5%,
      transparent 50.5%
    ),
    linear-gradient(
      -45deg,
      transparent 49.5%,
      #650d08 49.5% 50.5%,
      transparent 50.5%
    );
  background-size: 5em 5em;
  background-color: #000000;
  opacity: 1;
  color: white;
}
html:has(.is-rest) {
  background: radial-gradient(#182d6c 10%, transparent 10%),
    linear-gradient(
      45deg,
      transparent 49.5%,
      #182d6c 49.5% 50.5%,
      transparent 50.5%
    ),
    linear-gradient(
      -45deg,
      transparent 49.5%,
      #182d6c 49.5% 50.5%,
      transparent 50.5%
    );
  background-size: 5em 5em;
  background-color: #000000;
  opacity: 1;
  color: white;
}

/* App Container */
.App {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  /* padding: 56px; */
  padding-left: clamp(56px, 10vw, 80px);
  padding-right: clamp(56px, 10vw, 80px);
  padding-top: clamp(56px, 8vh, 80px);
  padding-bottom: clamp(56px, 8vh, 80px);
  margin: 4vh auto;
  border-radius: 8px;
  outline: 2px solid #650d08;
  border: 6px solid black;
  max-width: 1280px;
  max-height: 90vh;
  height: 1024px;
  width: 90vw;
  transition: all 200ms;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Background Modes */
.is-rest {
  background-color: #2e4a9b;
  outline: 2px solid #182d6c;
}
.is-work {
  background: #a33934;
}

/* Typography */
.heading {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.heading--1 {
  /* font-size: 2.4em; */
  font-size: clamp(1.5em, 5vw, 3.2em);
}
.heading--2 {
  /* font-size: 1.2em; */
  font-size: clamp(1.2em, 3vw, 2em);
}
.heading--2 {
  /* font-size: 1.2em; */
  font-size: clamp(1em, 2vw, 2.2em);
}
.heading--2 sup {
  font-size: 0.6em;
  vertical-align: super;
  line-height: 1;
}

.timer-display {
  text-align: center;
  padding-bottom: 2vh;
}
.round-info,
.interval-info {
  margin: 1vh 0;
}

/* Countdown timer */
.countdown {
  /* font-size: 7em; */
  font-size: clamp(4em, 6.6vw, 7.4em);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  color: white;
  padding: 0;
  margin: 0;
  font-style: italic;
  line-height: normal;
}

.display-combination {
  /* min-height: 260px; */
  height: clamp(100px, 25vh, 260px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.display-combination--paused .heading{
  opacity: .4;
}

.combination {
  font-weight: 500;
}

.additive-set {
  font-size: clamp(1.3em, 3.4vw, 2.7em);
  font-weight: 300;
  opacity: 0.75;
}

.additive-set--active {
  font-weight: 600;
  opacity: 1;
}

/* Control Buttons styles */
.button {
  font-family: sans-serif;
  font-family: "IBM Plex Mono", monospace;
}

.buttons {
  display: flex;
  justify-content: center;
}


.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 0 16px;
  gap: 4px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  /* margin-right: 16px; */
  margin-right: 3vw;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  /* box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 1); */
}
.button:last-of-type {
  margin-right: 0;
}
.button:hover {
  background: #650d08;
}
.is-rest .button:hover {
  background: #182d6c;
}

.button svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button--toggle,
.button--reset,
.button--replay {
  width: 100px;
  height: 80px;
  background: transparent;
}
.button--toggle {
  background: #650d08;
}
.button--toggle:hover {
  background: #470703;
}
.is-rest .button--toggle {
  background-color: #182d6c;
}
.is-rest .button--toggle:hover {
  background-color: #081d5d;
}
.button.button--refresh {
  font-size: 0.8em;
  padding: 12px 12px;
  align-self: flex-start;
  margin: 8px auto;
}

.button--full-screen {
  width: 48px;
  height: 48px;
}

/* Settings Panel */
.settings {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 3vw;
  margin-top: 3vh;
  align-items: end;
}

.selector {
  display: flex;
  flex-direction: column;
}
.selector label {
  text-align: left;
  padding-bottom: 8px;
  font-size: 0.8em;
}
.sufix-input {
  display: flex;
  flex-direction: row;
  
}
.sufix-input .sufix {
  border: 2px solid white;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  width: 70%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(256,256,256, 0.1);
  cursor: default;
  font-size: 0.8em;
}

.rounds-input {
  border-radius: 4px 0 0 4px;
  border: 2px solid white;
  padding: 12px 16px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: "500";
}
.rounds-input:hover {
  background: #650d08;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}