/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;1,200;1,300;1,500;1,600&display=swap"); */
@import url("./reset.css");

:root {
  --primary-bg-color: #650d08;
  --quadrant-bg-color: #a33934;
  --active-color: #f63c20;
  --action-bar-bg-color: #a33934;
  --button-text-color: white;
  --button-border-color: white;
  --button-background-color: transparent;
  --button-hover-color: lightgray;
  --segment-bg-color: lightsalmon;
  --segment-rest-past-color: rgb(180, 88, 190);
  --segment-rest-future-color: rgb(121, 55, 129);
  --segment-rest-current-color: rgba(41, 83, 208);
  --segment-round-past-color: rgb(219, 51, 42);
  --segment-round-future-color: rgb(156, 30, 30);
  --segment-round-current-color: rgb(156, 30, 30);
  --segment-current-span-bg: rgb(219, 51, 42);
  --aim-dot-bg-color: white;
}


html {
  background-color: #000000;
  opacity: 1;
  color: white;
}



/* Control Buttons styles */

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "logic-monospace", mono;
  font-weight: 500;
  font-style: normal;
  padding: 0 16px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  /* margin-right: 16px; */
  /* margin-right: 3vw; */
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  /* box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 1); */
}
/* .button:last-of-type {
  margin-right: 0;
} */
.button:hover {
  background: var(--primary-bg-color);
}
.is-rest .button:hover {
  background: #182d6c;
}

.button svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button--inactive {
  opacity: .5;
}

.button--toggle,
.button--reset,
.button--replay {
  width: 90px;
  height: 90px;
  background: transparent;
  border-radius: 50%;
  
}
.button--toggle span,
.button--reset span,
.button--replay span {
  height: 0;
  line-height: 28px;
  opacity: 0;
  overflow: hidden;
  transition: height 80ms ease-in-out, opacity 200ms ease-in-out;
  
}
.button--toggle:hover span,
.button--reset:hover span,
.button--replay:hover span {
  height: 28px;
  opacity: 1;
  line-height: 28px;
}

.button--toggle {
  background: var(--primary-bg-color);
}
.button--toggle:hover {
  background: #470703;
}
.is-rest .button--toggle {
  background-color: #182d6c;
}
.is-rest .button--toggle:hover {
  background-color: #081d5d;
}

.button--inactive {
  opacity: .6;
}

.button.button--refresh {
  /* font-size: 0.8em; */
  padding: 12px 12px;
  align-self: flex-start;
  margin: 8px auto;
  border: none;
}
.button.button--refresh svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button.button--expand {
  /* font-size: 0.8em; */
  padding: 12px 12px;
  border: none;
}
.button.button--expand svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.button--full-screen {
  width: 48px;
  height: 48px;
}